# Python Online Summer Intership 2024

## Make your place in Top 20% in python programof the world

# Name : M. Safi-Ur-Rehman

# Email : safirehman083@gmail.com

#                                  TITLE :   Assignment 2

## -> ** Arrays ** <--

## Task 1

### Initialization and modification of arrays

In [13]:
ages = [23.5,43.2,61.7,15.3]
print(ages)
ages [2] = 68.3
print(ages)
ages [3]= ages[3]+10
print(ages)

[23.5, 43.2, 61.7, 15.3]
[23.5, 43.2, 68.3, 15.3]
[23.5, 43.2, 68.3, 25.3]

## Task 2

### Intialization of arrays in runtime

In [14]:
marks = []
for counter in range (5):
    print("Enter the marks of student [",counter+1,"] : " )
    mark=float(input())
    marks +=[mark]
print ("Values Inserted by user are :", marks)

Enter the marks of student [ 1 ] :

 23

Enter the marks of student [ 2 ] :

 45

Enter the marks of student [ 3 ] :

 67

Enter the marks of student [ 4 ] :

 9

Enter the marks of student [ 5 ] :

 34

Values Inserted by user are : [23.0, 45.0, 67.0, 9.0, 34.0]

## Task 3

### Display of Arrays

In [15]:
ages=[13,34,65,8]
counter =0
for age in ages:
    print(age)
    counter+=1

13
34
65
8

## -----------------------------------------------------------------------------------------------------------

## -> ** Strings ** <--

## Task 1

### Representing of string by single, double and tripple quote

In [16]:
print('Hazrat Muhammad (PBUH) is the last Messenger of Allah. ')

Hazrat Muhammad (PBUH) is the last Messenger of Allah.

In [17]:
# by double qoute string
print("Hazrat Muhammad (PBUH) is the last Messenger of Allah. He’s (PBUH) role model for us in all fields of life. ")

Hazrat Muhammad (PBUH) is the last Messenger of Allah. He’s (PBUH) role model for us in all fields of life.

In [19]:
# by tripple quotes 
print("""Hazrat Muhammad (PBUH) is the last Messenger of Allah.  
He’s (PBUH) role model for us in all fields of life. 
One who doesn’t accept Hazrat Muhammad (PBUH) as the last Messenger of Allah is non- muslim """)

Hazrat Muhammad (PBUH) is the last Messenger of Allah.
He’s (PBUH) role model for us in all fields of life.
One who doesn’t accept Hazrat Muhammad (PBUH) as the last Messenger of Allah is non- muslim

## Task 2

### Determine the length

In [21]:
# By Single quote
print('Hazrat Muhammad (PBUH) is the last Messenger of Allah. ') 
len('Hazrat Muhammad (PBUH) is the last Messenger of Allah.')

Hazrat Muhammad (PBUH) is the last Messenger of Allah.

54

In [22]:
# by double qoute string
print("Hazrat Muhammad (PBUH) is the last Messenger of Allah. He’s (PBUH) role model for us in all fields of life. ")
print(len("Hazrat Muhammad (PBUH) is the last Messenger of Allah. He’s (PBUH) role model for us in all fields of life."))

Hazrat Muhammad (PBUH) is the last Messenger of Allah. He’s (PBUH) role model for us in all fields of life.
107

## Task 3

### Modifying a string

In [23]:
str = "Hazrat Muhammad (PBUH) is the last Messenger of Allah."
print(str)
print("For Upper case")
print(str.upper())

print("Forlower case")
print(str.lower())

print("For title case")
print(str.title())

print("For Capitalize case")
print(str.capitalize())

print("For center case")
print(str.center(70,"-"))

Hazrat Muhammad (PBUH) is the last Messenger of Allah.
For Upper case
HAZRAT MUHAMMAD (PBUH) IS THE LAST MESSENGER OF ALLAH.
Forlower case
hazrat muhammad (pbuh) is the last messenger of allah.
For title case
Hazrat Muhammad (Pbuh) Is The Last Messenger Of Allah.
For Capitalize case
Hazrat muhammad (pbuh) is the last messenger of allah.
For center case
--------Hazrat Muhammad (PBUH) is the last Messenger of Allah.--------

## Task 4

### Acessing string elements

In [25]:
str = "Allah is One "
print(str[9])
print(str[10])
print(str[11])

O
n
e

## Task 5

### Slicing string Elements

In [26]:
str = "Allah is One"
print(str[:5]) # last element is not acessable
print(str[6:8])

Allah
is

## Task 6

### Splitting String

In [27]:
str = "Allah is one "
print(str.split(" ")) # By default it consider it as space

['Allah', 'is', 'one', '']

## Task 7

### Strip method on string

In [28]:
string = "  Allah is One  "
print(string)

print("Using .strip() method:")
print(string.strip())

print("Using .lstrip() method:")
print(string.lstrip())

print("Using .rstrip() method:")
print(string.rstrip())

  Allah is One
Using .strip() method:
Allah is One
Using .lstrip() method:
Allah is One
Using .rstrip() method:
  Allah is One

## -----------------------------------------------------------------------------------------------------------

## -> ** Lists ** <--

## Task 1

### Creation

In [29]:
# It can be createed by two mwthods

# 1) by using []
mylist = ["apple","cherry"]
print(mylist)

# 2) by using list () funtion
mylist =list( ["apple","cherry", "banana"])
print(mylist)

['apple', 'cherry']
['apple', 'cherry', 'banana']

## Task 2

### Insertion

In [30]:
# it can be added by two methods

#  1) Append item
mylist = ["apple","cherry"]
mylist.append("orange")
print(mylist)

# 2) insert items 
mylist.insert(2,"Mango")
print(mylist)

['apple', 'cherry', 'orange']
['apple', 'cherry', 'Mango', 'orange']

## Task 3

### Updation

In [32]:
#methode 1
thelist = ["apple","cherry", "banana"]
print("Before Updation ",thelist)
thelist[1]="Orange"
print("After Updation",thelist)

Before Updation  ['apple', 'cherry', 'banana']
After Updation ['apple', 'Orange', 'banana']

In [35]:
# Method 2 
# by range of items
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
print("Before Updation ",thelist)
thislist[1:3] = ["blackcurrant", "watermelon"]
print("After Updation ",thelist)

Before Updation  ['apple', 'Orange', 'banana']
After Updation  ['apple', 'Orange', 'banana']

## Task 4

### Deletion

In [37]:
# method 1 by remove method 
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.remove("banana")
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'cherry']

In [39]:
# method 2 by pop method 
thislist = ["apple", "banana", "cherry"]
print(thislist)
thislist.pop(1)
print(thislist)

['apple', 'banana', 'cherry']
['apple', 'cherry']

In [41]:
# method 3 by del keyword
thislist = ["apple", "banana", "cherry"]
print(thislist)
del thislist[0]
print(thislist)

['apple', 'banana', 'cherry']
['banana', 'cherry']

## Task 5

### Sorting Lists

### In Acessding order

In [42]:
# method 1 for strings
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
print(thislist)
thislist.sort()
print(thislist)

['orange', 'mango', 'kiwi', 'pineapple', 'banana']
['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [43]:
# method 2 for Numbers 
thislist = [100, 50, 65, 82, 23]
print(thislist)
thislist.sort()
print(thislist)

[100, 50, 65, 82, 23]
[23, 50, 65, 82, 100]

### In decending order

In [44]:
# method 1 for strings
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
print(thislist)
thislist.sort(reverse = True)
print(thislist)

['orange', 'mango', 'kiwi', 'pineapple', 'banana']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [45]:
# method 2 for numbers 
thislist = [100, 50, 65, 82, 23]
print(thislist)
thislist.sort(reverse = True)
print(thislist)

[100, 50, 65, 82, 23]
[100, 82, 65, 50, 23]

## Task 6

### Merging Lists

In [46]:
# Method 1 by concatenation
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [47]:
# method 2 by Append method
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [48]:
# Method 3 By Extend method
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

## -----------------------------------------------------------------------------------------------------------

## -> ** Dictionaries ** <--

## Task 1

### Creation

In [49]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [50]:
# Method 2 by dict()
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

## Task 2

### Insertion

In [57]:
# by simply adding adding in dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [60]:
# by Update method to insert new items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

## Task 3

### Updation

In [63]:
# by simply specifying the value to be updated
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [65]:
# by update methode
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

## Task 4

### Deletion

In [66]:
# by Pop method
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'year': 1964}

In [67]:
# By del keyword
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
{'brand': 'Ford', 'year': 1964}

In [68]:
# by clear methos 
# it empties the string not delete the string
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

## Task 5

### Nesteds dictionaries

In [69]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}